<div class="header">
  <div class="container">
    <h1>Todolist</h1>
  </div>
</div>

<div class="tag">
  <div class="container">
    <h2><%= @actualuser.username %></h2>

    <div class="cards row">
      <% @actuallistelements.each do |l| %>
      <div class="card col-xs-4">
        <h2><%= l.time %></h2>
        <p><%= l.task %></p>
      </div>
      <%= link_to 'Edit', edit_actuallistelement_path(l) %>
      <%= button_to 'Remove', actuallistelement_path(l), :method => :delete %>
      <% end %>
    </div>
    
    <%= link_to 'New Task', "actuallistelements/new" %>

  </div>
</div>

