<div class="header">
  <div class="container">
    <h1>To Do List</h1>
  </div>
</div>

<div class="tag">
  <div class="container">
    <%= link_to 'New Task', "actuallistelements/new", :class => 'btn btn-default' %>

    <div class="cards">
      <% @actuallistelements.each do |l| %>
      <div class="row">
        <div class="col-md-2"><%= l.time %></div>
        <div class="col-md-8"><%= l.task %></div>
        <div class='btn-group col-md-2'>
      <%= link_to 'Edit', edit_actuallistelement_path(l), :class => 'btn btn-default'%>
      <%= button_to 'Remove', actuallistelement_path(l), :method => :delete, :class => 'btn btn-default' %>
        </div>
      </div>
      <% end %>
    </div>
    
    <%= link_to 'New Task', "actuallistelements/new", :class => 'btn btn-default' %>

  </div>
</div>

